<!DOCTYPE HTML>
<html>
<head>
    <title>Diversification Identity Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div style="background: #d71e28; height: 35px; border-bottom: 4px solid #ffcd41;">
    <a href="/diversificationidentity/home">
        <img src="https://www17.wellsfargomedia.com/assets/images/rwd/wf_logo_220x23.png"
             style="margin: 5px;">
    </a>
</div>
<h1 style="text-align: center">Book Details</h1>
<table>
    <thead>
    <tr>
        <th> Title </th>
        <th> Author </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${books.empty}">
        <td colspan="2"> No Books Available </td>
    </tr>
    <tr th:each="book : ${books}">
        <td><span th:text="${book.bookName}"> Title </span></td>
        <td><span th:text="${book.bookAuthor}"> Author </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>