<!DOCTYPE HTML>
<html>
<head>
    <title>Diversification Identity Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div style="background: #d71e28; height: 35px; border-bottom: 4px solid #ffcd41;">
    <a href="/diversificationidentity/home">
        <img src="https://www17.wellsfargomedia.com/assets/images/rwd/wf_logo_220x23.png"
             style="margin: 5px;">
    </a>
</div>
<h1 style="text-align: center">Diversification Identity Form</h1>
<form action="#" th:action="@{/search}" th:object="${requestModel}" method="post">
    <p>Search String: <input type="text" th:field="*{inputText}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/>
    </p>
</form>
</body>
</html>